<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title><%- htmlWebpackPlugin.options.title %></title>

        <meta name="description" content="<%- htmlWebpackPlugin.options.description %>" />
        <meta name="author" content="<%- htmlWebpackPlugin.options.author %>" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />

        <link rel="icon" type="image/png" href="<%- require('../images/favicons/favicon-16x16.png') %>" sizes="16x16" />
        <link rel="icon" type="image/png" href="<%- require('../images/favicons/favicon-32x32.png') %>" sizes="32x32" />
        <link rel="icon" type="image/png" href="<%- require('../images/favicons/favicon-96x96.png') %>" sizes="96x96" />
        <link rel="icon" type="image/png" href="<%- require('../images/favicons/favicon-160x160.png') %>" sizes="160x160" />
        <link rel="icon" type="image/png" href="<%- require('../images/favicons/favicon-192x192.png') %>" sizes="192x192" />

        <link rel="apple-touch-icon" sizes="57x57" href="<%- require('../images/favicons/apple-touch-icon-57x57.png') %>" />
        <link rel="apple-touch-icon" sizes="60x60" href="<%- require('../images/favicons/apple-touch-icon-60x60.png') %>" />
        <link rel="apple-touch-icon" sizes="72x72" href="<%- require('../images/favicons/apple-touch-icon-72x72.png') %>" />
        <link rel="apple-touch-icon" sizes="76x76" href="<%- require('../images/favicons/apple-touch-icon-76x76.png') %>" />
        <link rel="apple-touch-icon" sizes="114x114" href="<%- require('../images/favicons/apple-touch-icon-114x114.png') %>" />
        <link rel="apple-touch-icon" sizes="120x120" href="<%- require('../images/favicons/apple-touch-icon-120x120.png') %>" />
        <link rel="apple-touch-icon" sizes="144x144" href="<%- require('../images/favicons/apple-touch-icon-144x144.png') %>" />
        <link rel="apple-touch-icon" sizes="152x152" href="<%- require('../images/favicons/apple-touch-icon-152x152.png') %>" />
        <link rel="apple-touch-icon" sizes="180x180" href="<%- require('../images/favicons/apple-touch-icon-180x180.png') %>" />
    </head>
    <body>
        <div id="record-anchor"></div>
        <section class="section-image record" data-anchor="record-anchor">
        </section>

        <div id="sleeve-anchor"></div>
        <section class="section-image sleeve" data-anchor="sleeve-anchor">
            <div class="content">
                <h1>[STEP 1] FREE DJ LESSONS</h1>
                <p>
                    Dance Music Initiative (DMI) teaches DJ
                    <br />
                    fundamentals, history, and culture to new
                    <br />
                    and experienced DJs. Classes are taught
                    <br />
                    weekly in Orange County, CA.
                </p>
            </div>
        </section>

        <div id="jacket-anchor"></div>
        <section class="section-image jacket" data-anchor="jacket-anchor">
            Step 2

            Promote Dance Music Culture

            Dance Music Initiative (DMI) is a collective of dance music enthusiasts
            who inspire through instruction, mentoring, and sharing.
        </section>

        <div id="contact-anchor"></div>
        <section class="section-image contact" data-anchor="contact-anchor">
            <div class="social">
                <div class="social-row">
                    <h2>Join Us</h2>
                    <a href="https://www.facebook.com/groups/1667076573535754/" class="facebook" title="Facebook">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </div>

                <div class="social-row">
                    <h2>Support Us</h2>
                    <a href="https://www.patreon.com/DanceMusicInitiative " class="patreon" title="Patreon">
                        <i class="fa fa-money"></i>
                    </a>
                </div>

                <div class="social-row">
                    <h2>Follow Us</h2>
                    <a href="https://twitter.com/DMInitiative" class="twitter" title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="https://soundcloud.com/dance-music-initiative" class="soundcloud" title="SoundCloud">
                        <i class="fa fa-soundcloud"></i>
                    </a>

                    <a href="https://www.mixcloud.com/DanceMusicInitiative/" class="mixcloud" title="Mixcloud">
                        <i class="fa fa-mixcloud"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UCzLc7DitF_cRY--02S0o63g" class="youtube" title="YouTube">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>

                <div class="social-row">
                    <h2>Booking / Inquiries</h2>
                    <a class="contact-mail" href="mailto:contact@dancemusicinitiative.org">contact@dancemusicinitiative.org</a>
                </div>
            </div>
        </section>
    </body>
</html>
